.profile {
  background-color: #202020;
  height: 100vh;
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 74px;
}

.profile__greeting {
  margin: 0;
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 120px;
}

.profile__input-wrapper {
  display: flex;
  flex-direction: row;
  width: 410px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.profile__label {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  color: #FFF;
}

.profile__input {
  background-color: #202020;
  color: #FFF;
  border: none;
  text-align: right;
  font-size: 11px;
  outline: none;
  width: 320px;
}

.profile__devider {
  width: 410px;
  height: 1px;
  background-color: #424242;
  margin-bottom: 17px;
}

.profile__submit {
  margin-top: 220px;
  border: none;
  padding: 0;
  background-color: #202020;
  color: #FFF;
  font-size: 13px;
}

.profile__exit {
  margin: 0;
  color: #EE3465;
  margin-top: 16px;
  font-size: 13px;
}